body {
  color: #ffffff;
  margin: 0;
}

.wrapper {
  height: auto;
  width: 100%;
  background-image: url(images/bg.png);
  background-size: cover;

}

.main_text {
  background-color:ffffff;
  font-family: Virgo01;
  text-align: center;
  font-size: 144.44pt;
  padding-top: 203px;
  height: auto;
}

.second_text_image{
  display: inline-block;
  margin: .5% 0 0 0;
  width: 39px;
  height: 39px;
}

.secont_text_area{
  height: auto;
  display: flex;
}
.second_text {
  font-family:SegoeWP;
  font-size: 30.44pt;
  text-align: center;
  margin: 0 0 0 0;
  margin-left: 0.4vw;
  display: inline-block;
}
.third_text_area{
background-color: #ff;
font-family:SegoeWP;
font-size: 18pt;
height: 17vw;
width: 43vw;
margin: 65px auto auto auto;
background-image: url(images/search1.png);
background-size: cover;
}
.third_text {
padding: 19% 0 0 0
}

.second_text_middle{
  margin: 38px auto auto auto;
  width: auto;
  display: flex;
}

.text_area{
  padding-bottom: 11vh;
  margin-left: 5.3vw;
}

.search_area{
margin-top: 19px;
margin-left: 5.3vw;
width: 394px;
height: 37px;
line-height: 32px;
border: none;
outline: none;
box-shadow: none;
padding: 0 0 0 6px;
background: transparent;
font: 13px Helvetica, Arial, sans-serif;
color: #6E7074;
text-shadow: 0 1px 0 #FFF;
transition: all .2s ease-out;
}

h3 {
  margin-left: 5.3vw;
}
