.header {
  background-color: #b4aded;
  height: 5vh;
  display: flex;
}

.shyna {
  margin: auto;
  font-size: 22pt;
}

.pideras {
  background-color: #ff98d9;
  height: 40vh;
  display:
}

.pideras_list{
  margin: 0 50vw 0 50vw;
}
