body {
	color: #ffffff;
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}

#wrapper {
		background-color: #87509c;
		height:500px;

}

.logo {
		padding-left: 230px;
		padding-top: 58px;
	}

	nav a {
		text-decoration: none;
	}

	nav ul {
		margin: 0px;
		padding-left: 812px;
	}

	nav li {
	list-style-position: inside;
	font: 16px 'Oswald', sans-serif;
	padding: 110px;
}

.top-menu li {
	display: inline-block;
	padding: 4px 43px;
	margin: 0;
	padding-left: 812px:
}

.top-menu li.active {
	background: #643a79;
	color: #ffffff;
	border-radius: 10px 10px;
}

.top-menu a {
	color: #b2b2b2;
}

.hi {
	padding-left: 267px;
	padding-top: 235px;
	font: 42px 'Oswald', sans-serif;
}

.button1 {
	 color: #ffffff;
	 background-color: #eb7d4b;
	 border: 1px;
   font-size: 18px;
}
